#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

span {
  display: block;
  color: tomato;
  font-size: x-small;
}

input::placeholder {
  color: white;
  opacity: 0.8;
}

.usuarios {
  display: flex;
  flex-direction: column;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  border-radius: 0px 0px 60px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  z-index: 1000;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

.nav-link.active {
  text-decoration: rgb(0, 157, 255) 2px underline;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: 40px;
  width: 40em;
  height: 20em;
  text-align: start;
}

.content h2 {
  color: white;
  text-align: center;
}

.content button {
  margin-top: 10px;
  width: 20em;
}

.content input {
  border-radius: 5em;
  border: 2px solid transparent;
  height: 20px;
}

.content-form {
  background-color: black;
  border-radius: 10px;
}

.content label {
  color: white;
  font-size: medium;
}

.card {
  padding: 2em;
}

.lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.tarea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
}

.tarea span {
  color: white;
  font-size: medium;
}

.tarea button {
  margin-top: 10px;
  width: 10em;
}

.content-tarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.content-lista-tarea {
  padding-top: 400px;
  max-width: 1280px;
  margin: 0 auto;
}

.form-tarea {
  padding: 70px 80px;
}