# Carpetas de compilación locales
bin/
obj/

# Configuración de usuario y temporales
.vs/
*.swp
*.suo
*.user
*.userosscache
*.sln.docstates

# Archivos de configuración locales
docker-compose.override.yml
*.dbmdl

# Secretos o configuraciones locales (si aplica)
secrets.json
